body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    
}


header {
    background-color: #333333;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    color: #fff;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.branding h1 {
    margin: 0;
    font-size: 2em;
}

.branding p {
    margin: 5px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    
}

.featured-post {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.featured-post h2 {
    margin: 0 0 10px;
}

.featured-post img {
    width: 100%;
    max-width: 800px;
}

.latest-stories {
    margin: 20px 0;
}

.latest-stories h2 {
    margin-bottom: 20px;
}

.posts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #333333;
}

.posts article {
    background-color: #fff;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    max-width: 30%;
}

.posts img {
    width: 100%;
    height: auto;
}

.posts h3 {
    margin: 10px 0;
}

.posts p {
    margin: 10px 0;
}

.posts a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.more-stories {
    text-align: center;
    margin: 20px 0;
}

.more-posts {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
